.wrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.navigationWrapper{
  margin-top: 20px;
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.pageDisplay{
 font-size: 1.2rem;
 font-weight: 500;
}