.dataTable {
  width: auto;
  min-width: 400px;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 6px 6px 0 0;
  overflow: hidden;
  margin: 25px 0;
  font-size: 0.9rem;
 
}

.dataTable thead tr {
  font-weight: bold;
  background-color: var(--main-color);
  text-align: left;
  color: white;
}

.dataTable th > *,
.dataTable td {
  padding: 12px 15px;
}

.dataTable tbody tr {
  border-bottom: 1px solid #dddddd;
  transition: background-color .2s;
  cursor: pointer;
}

.dataTable tbody tr:nth-of-type(even) {
  background-color: #f3f3f3
}

.dataTable tbody tr:last-of-type {
  border-bottom: 2px solid #dddddd;
}

.dataTable tbody tr.selected {
  font-weight: bold;
  color: var(--main-color);
}

.dataTable tbody tr:hover {
  background-color: #d4d4d4;
}